$header-height-desktop: 80px;
$header-height-mobile: 80px;

/* COLORS */
$color-rouge: #bd0101;
$color-text: #001122;
$color-blanc: #F8F8F8;
$color-black: #001122;
$color-bleu: #157CBD;
$color-jaune: #BD9915;
$color-vert: #007020;

