.masterhead {
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100vh;
        align-items: center;

    }
    h1 {
        margin: 0;
    }
    span {
        font-size: 2.2rem;
        font-weight: 400;
    }
    &__image {
        background-image: url('/img/masterhead/Avatar_JRD.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 250px;
        width: 250px;
        height: 272px;
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        filter: drop-shadow(0 10px 1.5rem rgba(0,0,0,0.6));
    }
}

.mouse {
	max-width: 2.5rem;
	width: 100%;
	height: auto;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
	opacity: 1;
}

.scroll-link {
	position: absolute;
	bottom: 3rem;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes scroll {

	0%, 20% {
		transform: translateY(0) scaleY(1);
	}

	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0;
	}

}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


@media screen and (max-width: 850px) {
	.masterhead {
		&__wrapper {
			flex-direction: column;
			justify-content: center;
		}
		&__image {
			margin-top: 5rem;
		}
		h1 {
			font-size: 6rem;
		}
		span {
			font-size: 2rem;
		}
	}
  }

  @media screen and (max-width: 550px) {
	.masterhead {
		.container {
			padding: 0 15px;
		}
		h1 {
			font-size: 5rem;
		}
		&__image {
			background-size: 90%;
		}
	}
  }