.about {
  position: relative;
  z-index: 2;
  margin: 7rem 0;
  padding: 8rem 0 15rem 0;
  background-color: $color-rouge;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h3 {
    color: #fff;
    span {
      font-family: $font-family-secondary;
    }
  }
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
  }
  &::before {
    top: 0px;
    left: 0px;
    background: linear-gradient(to right top, #bd0101 49%, #f8f8f8 50%),
      linear-gradient(-50deg, #f8f8f8 16px, #000 0);
  }
  &::after {
    bottom: 0px;
    right: 0px;
    background: linear-gradient(to left bottom, #bd0101 49%, #f8f8f8 50%),
      linear-gradient(-50deg, #f8f8f8 16px, #000 0);
  }
  &__content {
    padding: 3rem 0;
    p {
      margin-bottom: 3rem;
      color: #fff;
    }
  }
  .cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: $font-family-primary;
    font-size: 22px;
    font-weight: $font-weight-medium;
    color: #001122;
    background: #e8e8e8;
    transition: 1s;
    box-shadow: 6px 6px 0 #001122;
    transform: skewX(-15deg);
  }

  .cta:focus {
    outline: none;
  }

  .cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #001122;
  }

  .cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
  }

  .cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
  }

  span {
    transform: skewX(15deg);
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
}

@media screen and (max-width: 500px) {
  .about {
    .container {
      padding: 0 15px;
    }
    h3 {
      font-size: 2.6rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
